<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.povio.weatherapp"
    android:theme="@style/AlertDialog.AppCompat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".Widget.WidgetProvider"
            android:icon="@drawable/ic"
            android:label="Weather App">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CityQuery"
            android:label="@string/title_activity_city_query"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppThemeTransparent" />
        <activity
            android:name=".MoreInfoActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppThemeTransparent" />
        <activity android:name=".Widget.WidgetChangeCity"></activity>
    </application>

</manifest>